
.analysis-summary {
    border: 1px solid black;
    float: right;
    width: 40%;
    min-width: 630px;
}

.header-group {
    display: inline-block;
}

.report-anchor {
    display: block;
    color: red;
}

#line {
    white-space: break-spaces;
}