
.analysis-summary {
    border: 1px solid black;
    float: right;
    width: 40%;
    min-width: 630px;
}

.header-group {
    display: inline-block;
}

.report-anchor {
    display: inline;
    color: red;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

.no-entries {
    color: grey;
}

pre[class*=language-]{
    white-space: pre-wrap;
}
