{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/prism.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
{% endblock %}

{% block above_body %}
    <fieldset class="analysis-summary">
        <legend><strong>Summary</strong></legend>
        <ul>
            {% for detail in file_details %}
                <li>{{ detail|safe }}</li>
            {% endfor %}
        </ul>
    </fieldset>
{% endblock %}

{% block body %}
    <div style="margin-bottom: 15px;">
        <a href="{{ mailto_report_link }}" style="color:red"> <strong>Report Malicious Package</strong> </a>
        <span style="margin: 0 10px;">|</span>
        <a href="{{ download_url }}" class="download-anchor" download> <strong>⬇️ Download File</strong> </a>
    </div>
    <br>
    <div>

        <label for="disassembly-radio">Disassembly</label>
        <input type="radio" id="disassembly-radio" name="view-mode" checked/>

        <label for="decompilation-radio">Decompilation</label>
        <input type="radio" id="decompilation-radio" name="view-mode"/>
    </div>
<pre id="disassembly">
{# Indenting the below <code> tags will cause rendering issues! #}
<code>{{- disassembly }}</code>
</pre>
<pre id="decompilation" style="display: none" class="line-numbers linkable-line-numbers language-python">
{# Indenting the below <code> tags will cause rendering issues! #}
<code class="language-python">{{- decompilation }}</code>
</pre>

    <script>
        let disassembly = document.getElementById("disassembly");
        let decompilation = document.getElementById("decompilation");
        let disassemblyRadio = document.getElementById("disassembly-radio");
        let decompilationRadio = document.getElementById("decompilation-radio");

        disassemblyRadio.addEventListener("click", function () {
            disassembly.style.display = "";
            decompilation.style.display = "none";
        });

        decompilationRadio.addEventListener("click", function () {
            disassembly.style.display = "none";
            decompilation.style.display = "";

            // line numbers get messed up when changing the display attribute, so we need to refresh them...
            Prism.plugins.lineNumbers.resize(decompilation)
        });
    </script>

    <script src="/static/prism.js"></script>
{% endblock %}
